* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 90%;
    background-color: #303030;
    color: #f9f5f4;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}